.vital-preview {
    margin: auto;
    padding: 2rem;

    @media (min-width: 768px) {
        margin: 96px auto 100px auto;
        padding: 0;
        width: 625px;

        text-align: center;
    }
}

.vital-preview__text {
    margin-bottom: 2rem;

    @media (min-width: 768px) {
        margin-bottom: 52px;

        letter-spacing: 1px;
        line-height: 29.33px;
    }
}

.vital-preview__link {
    display: inline-block;

    background-color: var(--light-gray);

    padding: 8px 15px;
}