.annual-grants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 1280px) {
        flex-direction: row;
    }
}

.annual-grants__image {

    width: 100%;
    height: auto;
    max-height: 602px;

    object-fit: cover;

    @media (min-width: 1280px) {
        margin-left: auto;
        width: calc(50% - 7px);
        height: 602px;

        /* Make sure the image does not appear to be blurry in wide screens */
        max-width: calc(580px * 1.5);
    }
}

.annual-grants__text {
    padding: 2rem;
    width: 100%;

    max-width: calc(580px * 1.5);

    @media (min-width: 768px) {
        text-align: center;
    }


    @media (min-width: 1280px) {
        margin-top: 79px;
        margin-bottom: 89px;
        margin-right: auto;
        padding: 0 124px;
        width: calc(50% + 7px);

        text-align: start;
    }
}

.annual-grants__paragraph {
    margin: auto;
    margin-bottom: 2rem;

    letter-spacing: 1px;
    line-height: 30px;

    @media (min-width: 768px) {
        max-width: 400px;
    }

    @media (min-width: 1280px) {
        margin: 0;
        margin-bottom: 36px;
    }

}

.annual-grants__link {
    display: inline-block;

    background-color: var(--light-gray);

    padding: 10px 12px;
}
