.annual-grants {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 768px) {
        flex-direction: row;
    }
}

.annual-grants__image {
    width: 100%;
    height:auto;

    /* Make sure the image does not appear to be blurry in wide screens */
    max-width: calc(580px * 1.25);

    @media (min-width: 768px) {
        width: calc(50% - 7px);
        height: fit-content;
    }
}

.annual-grants__text {
    margin-top: 82px;
    margin-bottom: 89px;
    padding: 2rem;

    @media (min-width: 768px) {
        width: calc(50% + 7px);

        padding: 0 min(124px, 9%);
    }
}

.annual-grants__paragraph {
    margin-bottom: 2rem;
}

.annual-grants__link {
    display: inline;

    background-color: var(--light-gray);

    padding: 10px 12px;
}
