:root {
    /* Font */
    --font-noto-serif: "Noto Serif", serif;
    --font-sans-didact: "Didact Sans", sans-serif;

    /* Font Size Mobile*/
    --title-font-size: 2rem;
    --header-font-size: 1.5rem;
    --subheader-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 1rem;
    --smaller-font-size: 0.9rem;

    /* Font Size Tablet*/
    --tablet-title-font-size: 82px;
    --tablet-header-font-size: 2.5rem;
    --tablet-subheader-font-size: 32px;
    --tablet-normal-font-size: 20px;
    --tablet-small-font-size: 0.9rem;
    --tablet-smaller-font-size: 14px;

    /* Font Size to adjust for Didact Gothic Regular font*/
    /* --normal-sans-font-size: 1.05rem; */
    --normal-sans-font-size: 20px;

    --tablet-sans-normal-font-size: 20px;
    --tablet-small-sans-font-size: 18px;
    --tablet-smaller-sans-font-size: 16px;

    /* Colors */
    --background-color: #ffffff;
    --foreground-color: #171717;
    --light-gray: #f6f5f5;
    --pure-white: #ffffff;
    --gray: #d9d9d9;

    --text-color: #163954;

    /* Dimensions */
    --content-margins: 1rem;
}