.avaliable-grants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 6rem;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.avaliable-grants__image {
  width: 100%;
  height: auto;

  max-width: 580px;

  @media (min-width: 768px) {
    width: 50%;
    border-radius: 0 10rem 0 10rem;
  }
}

.avaliable-grants__text {
  padding: 2rem;

  @media (min-width: 768px) {
    width: 50%;

    padding: 2rem 4rem;
  }
}

.avaliable-grants__paragraph {
  margin-bottom: 2rem;
}

.avaliable-grants__link {
  background-color: var(--light-gray);
  padding: 0.5rem;
}
