.header-navigation {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.header-navigation__link--special {
  background-color: var(--light-gray);

  padding: 0.5rem;
}

.grants-down-icon {
  margin: 0 0.25rem;
  padding-bottom: 0.2rem;
  height: 1rem;
}

.header-navigation__grants-menu {
  position: absolute;
  display: none;
}