.header-navigation {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 42px;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.header-navigation__link--special {
  display: grid;
  align-items: center;
  
  text-align: center;

  background-color: var(--light-gray);

  width: 100px;
  height: 42px;
}

.grants-down-icon {
  margin: 0 0.25rem;
  padding-bottom: 0.2rem;
  height: 1rem;
}

.header-navigation__grants-menu {
  position: absolute;
  display: none;
}