.vital-signs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;

  padding: 2rem;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 6rem;

    padding: 4rem;
  }
}

.vital-signs__title {
  width: 100%;
  flex: 2;

  @media (min-width: 768px) {
    max-width: 580px;
  }
}

.vital-signs__image {
  background-image: url("../../images/placeholder-image-announcement.jpg");
  background-size: cover;
  background-position: center;

  height: 400px;
}

.vital-signs__image-link {
  background-color: var(--gray);

  margin: 1rem;
  padding: 0.5rem;

  float: right;
}

.vital-signs__icon-link {
  width: 1rem;
  height: 1rem;
}

/* Right Bar */
.vital-signs__bar {
    width: 100%;

    @media (min-width: 768px) {
        width: 20rem;
    }
}

.vital-signs__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 0;
}

.vital-signs__link--middle {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
