.giveback-ribbon {
    background-color: var(--light-gray);

    padding: 6rem 8rem 2rem 8rem;
}

.giveback-ribbon__blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    margin-bottom: 2rem;

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

}

.dollarsign-block {
    position: relative;
}

.dollarsign-block--middle {
    @media (min-width: 768px) {
        padding: 0 calc((100% - 30rem) / 4);
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
}

.dollarsign-block__content {
    width: 10rem;
    text-align: center;
}

.giveback-ribbon__footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 2rem;
}

.giveback-ribbon__support-btn {
    background-color: var(--pure-white);
    padding: 0.5rem;
}