.giveback-ribbon {
    background-color: var(--light-gray);

    padding: 2rem;

    @media (min-width: 768px) {
        min-height: 384px;
        padding: 100px 100px 29px 100px;

    }

}

.giveback-ribbon__blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    padding: 0 81px;
    margin-bottom: 49px;

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.dollarsign-block__text {
    letter-spacing: 2px;
    line-height: 2rem;
}

.dollarsign-block {
    position: relative;
}

.dollarsign-block--middle {
    @media (min-width: 768px) {
        padding: 0 calc((100% - 675px) / 4);
        border-left: 2px solid black;
        border-right: 2px solid black;
    }
}

.dollarsign-block__content {
    width: 225px;
    text-align: center;
}

.dollarsign-block__header {
    margin: 0;
}

.giveback-ribbon__footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    @media (min-width: 768px) {
        justify-content: flex-end;
    }
}

.giveback-ribbon__support-btn {
    background-color: var(--pure-white);

    padding: 9px 18px;
}

.giveback-ribbon__support-btn:hover {
    background-color: var(--gray);
}

.giveback-ribbon__support-btn:active {
    background-color: transparent;
}